img{
    height: 4rem;
    width: 12rem;
    margin:6px 23px 6px 6px;
}

button.mat-focus-indicator.mat-menu-trigger.mat-icon-button.mat-button-base{
    color: white;
}
header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow{
    z-index: 0;
}